body{}

.jumbotron {
    color: black;
}

.category {
    background-color: lightblue;
    color: blue;
}

th { 
    font-size: 35px;
    font-family: helvetica;
}

td {
    max-width: 100px;
    min-width: 100px;
    
}

td:hover {
    background-color: lightcoral;
}

#score {
    text-align: center;
    font-size: 45px;
    font-weight: 300;
}
